
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.radius-1 {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.radius-2 {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.radius-3 {
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

.radius-4 {
    border-bottom-right-radius: 60px;
}

.CircularProgressBar {
    width: 100px;
    height: 100px;
    color: white;
  }